.nav-menu {
  display: flex;
  height: 100%;
  &__user-login {
    color: white;
    font-size: 18px;
  }
  button {
    height: 100%;
    margin-left: 15px;
    padding: 0px 15px;
    background: none;
    border: none;
    color: #cccc;
    font-size: 20px;
    cursor: pointer;
    transition: 0.25s ease-out;
    &:hover {
      background: white;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
